
{% extends 'base.html' %}

{% block title %}
    Edit Post
{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'appone:home' %}">Boards </a></li>
    <li class="breadcrumb-item "><a href="{% url 'appone:topics' post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'appone:topic_posts' post.topic.board.pk post.topic.pk %}"> {{ post.topic.subject }} </a></li>
    <li class="breadcrumb-item active">Edit Post</li>
    {% endblock breadcrumb %}
{% block content %}
    <form  action="{% url 'appone:edit_post' post.topic.board.pk post.topic.pk post.pk %}" method="post">
{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
{% endblock content %}
