
{% extends 'base.html' %}

{% block title %}
    Topics
{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'appone:home' %}">Boards </a></li>
    <li class="breadcrumb-item "><a href="{% url 'appone:topics' board.pk %}">{{ board.name }}</a></li>
    <li class="breadcrumb-item active">New Topic </li>
    {% endblock breadcrumb %}
{% block content %}
    <form  action="{% url 'appone:newtopic' board.pk %}" method="post">
{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Add New Topic</button>
    </form>
{% endblock content %}
